html{
	background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
	background-size: cover;
	background-attachment: fixed; 
	overflow-x: hidden; 
	overflow-y: hidden; 
}

body{
  height: 100%;
  top: 0px;
  bottom: 0px;
}

/*h1{
	color: coral;
	text-align: center;
	font-size: 55px;
	font-weight: 900;
	padding-top: 80px;
	margin-left: 10%;
}*/
@keyframes title{
	0% {opacity: 1;}
	30% {opacity: 0;}
}
@keyframes shootingStar{
	0% {transform: translateX(-10px) translateY(-10px) scale(-1,1); z-index:-10;}
	100% {transform: translateX(860px) translateY(760px) scale(-1,1); z-index:-10;}
}
@keyframes shootingStar2{
	0% {transform: translateX(550px) translateY(-150px) scale(-1,1); z-index:-10;}
	100% {transform: translateX(1560px) translateY(760px) scale(-1,1); z-index:-10;}
}
@keyframes shootingStar3{
	0% {transform: translateX(750px) translateY(-600px) scale(-1,1); z-index:-10;}
	100% {transform: translateX(2060px) translateY(760px) scale(-1,1); z-index:-10;}
}

@keyframes sunspin {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}

@keyframes mercuryOrbit{
	0% {z-index: 2; transform: rotateY(0);}
	49% {z-index: 2;}
	50% {z-index: -2;}
	80% {z-index: -2;}
	100% {z-index: 2; transform: rotateY(360deg);}
}
@keyframes venusOrbit{
	0% {z-index: 3; transform: rotateY(0);}
	49% {z-index: 3;}
	50% {z-index: -3;}
	99% {z-index: -3;}
	100% {z-index: 3; transform: rotateY(360deg);}
}
@keyframes earthOrbit{
	0% {z-index: 4; transform: rotateY(0);}
	49% {z-index: 4;}
	50% {z-index: -4;}
	99% {z-index: -4;}
	100% {z-index: 4; transform: rotateY(360deg);}
}
@keyframes marsOrbit{
	0% {z-index: 5; transform: rotateY(0);}
	49% {z-index: 5;}
	50% {z-index: -5;}
	99% {z-index: -5;}
	100% {z-index: 5; transform: rotateY(360deg);}
}
@keyframes jupiterOrbit{
	0% {z-index: 6; transform: rotateY(0);}
	49% {z-index: 6;}
	50% {z-index: -6;}
	99% {z-index: -6;}
	100% {z-index: 6; transform: rotateY(360deg);}
}
@keyframes saturnOrbit{
	0% {z-index: 7; transform: rotateY(0);}
	49% {z-index: 7;}
	50% {z-index: -7;}
	99% {z-index: -7;}
	100% {z-index: 7; transform: rotateY(360deg);}
}
@keyframes uranusOrbit{
	0% {z-index: 8; transform: rotateY(0);}
	49% {z-index: 8;}
	50% {z-index: -8;}
	99% {z-index: -8;}
	100% {z-index: 8; transform: rotateY(360deg);}
}
@keyframes neptuneOrbit{
	0% {z-index: 9; transform: rotateY(0);}
	49% {z-index: 9;}
	50% {z-index: -9;}
	99% {z-index: -9;}
	100% {z-index: 9; transform: rotateY(360deg);}
}
@keyframes stationary {
	from {transform: rotateY(0);}
	to { transform: rotateY(-360deg); }
}
.solar{
	color: coral;
	text-align: center;
	font-size: 420%;
	font-weight: 900;
	margin-left: 8%;
	top: 50px;
	animation: title 5s infinite linear;
}
.star{
	width: 130px;
	height: 130px;
	position: absolute;
	animation: shootingStar 3s infinite ease-out;
	background: url("https://www.starregister.org/images/shooting-star-big.png");
	background-size: cover;
}
.star2{
	width: 100px;
	height: 100px;
	position: absolute;
	animation: shootingStar2 4s infinite linear;
	animation-delay: 2s;
	background: url("https://www.starregister.org/images/shooting-star-big.png");
	background-size: cover;
}
.star3{
	width: 300px;
	height: 300px;
	position: absolute;
	animation: shootingStar3 2s infinite linear;
/*	animation-delay: 2s;*/
	background: url("https://www.starregister.org/images/shooting-star-big.png");
	background-size: cover;
}
.sun{
	width: 250px;
	position: absolute;
	top: -150px;
	z-index: 1;
	height: 525px;
}
.sun .star{
	width: 300px;
	height: 350px;
	background: url("http://pre10.deviantart.net/c764/th/pre/f/2011/264/1/e/a_sun_by_ephemeralblue-d4aibvk.png") no-repeat;
	background-size: cover;
	border-radius: 200px;
	margin: 0 auto;
	animation: sunspin 80s infinite linear;
}
.mercury{
	width: 650px;
	left: 70px;
	position: absolute;
	z-index: 2;
	animation: mercuryOrbit 15s infinite linear;
}
.mercury .planet{
	width: 35px;
	height: 35px;
	background: url("http://www.solarsystemscope.com/nexus/content/planet_images/render_mercury.png") no-repeat;
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 15s infinite linear;
}
.venus{
	width: 880px;
	position: absolute;
	z-index: 3;
	animation: venusOrbit 20s infinite linear;
}
.venus .planet{
	width: 45px;
	height: 45px;
	background: url("http://vignette2.wikia.nocookie.net/dumbledoresarmyroleplay/images/d/dc/Venus.png/revision/latest?cb=20120527010129");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 20s infinite linear;
}
.earth{
	width: 1000px;
	position: absolute;
	z-index: 4;
	animation: earthOrbit 30s infinite linear;
}
.earth .planet{
	width: 50px;
	height:50px;
	background: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/1_Earth_(blank_2).png");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 30s infinite linear;
}
.mars{
	width: 1300px;
	position: absolute;
	z-index: 5;
	animation: marsOrbit 40s infinite linear;
}
.mars .planet{
	width: 30px;
	height: 30px;
	background: url("http://vignette2.wikia.nocookie.net/factfinder/images/c/c5/Mars-1-.png/revision/latest?cb=20130916161813");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 40s infinite linear;
}
.jupiter{
	top: -90px;
	width: 2000px;
	position: absolute;
	z-index: 6;
	animation: jupiterOrbit 60s infinite linear;
}
.jupiter .planet{
	width: 300px;
	height: 300px;
	background: url("http://space-facts.com/wp-content/uploads/jupiter-transparent.png");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 60s infinite linear;
}
.saturn{
	top: -90px;
	left: -400px;
	width: 2400px;
	position: absolute;
	z-index: 7;
	animation: saturnOrbit 75s infinite linear;
}
.saturn .planet{
	width: 510px;
	height: 250px;
	background: url("http://real28.ru/vozrozhdeniye/images/planet-saturn.png");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 75s infinite linear;
}
.uranus{
	left: -550px;
	width: 2500px;
	position: absolute;
	z-index: 8;
	animation: uranusOrbit 80s infinite linear;
}
.uranus .planet{
	width: 180px;
	height: 180px;
	background: url("http://space-facts.com/wp-content/uploads/uranus-transparent.png");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 80s infinite linear;
}
.neptune{
	left: -750px;
	width: 2900px;
	position: absolute;
	z-index: 9;
	animation: uranusOrbit 90s infinite linear;
}
.neptune .planet{
	width: 185px;
	height: 185px;
	background: url("http://roseheid.com/astronomy/astronomyimages/56-57%20Neptune%20and%20Pluto/slides/neptuneink.png");
	background-size: cover;
	animation-iteration-count: infinite;
	animation: stationary 90s infinite linear;
}
.solarSystem:hover > div{
	animation-play-state: paused;
}
.solarSystem:hover .planet{
	animation-play-state: paused;
}

.solarSystem{
	position: relative;
	margin: 0 auto;
	display: block;
	margin-top: 300px;
	perspective: 1000px;
	perspective-origin: 60% 50%;
	transform: rotate(-10deg);
}
.solarSystem > div{
	position: relative;
	margin: 0 auto;
	/*margin-top: 200px;*/
	transform-style: preserve-3d;
	height: 0px;
}
.tooltip {
	position: relative; /* display: inline-block;*/
       /*border-bottom: 1px dotted black;*/
}
.tooltip .tooltiptext {
	 font-weight:900;
	 visibility: hidden;
	 font-size: 20px;
	 height:80px;
    	 width: 200px;
   	 background-color: Coral;
   	 color: black;
   	 border-radius: 6px;
   	 padding: 5px 0;
   	 /* Position the tooltip */
   	 position: absolute;
   	 z-index: 1;
}
.tooltip:hover .tooltiptext {
   	 visibility: visible;
}